@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);

  --font-figtree: "Figtree", sans-serif;

  --weight-normal: 500;
  --weight-bold: 800;
}

body {
  background-color: var(--yellow);
}

.card_container {
  /*centering for presentation */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /*main style */
  background-color: var(--white);
  border-radius: 1rem;
  padding: 1.3rem;
  width: 350px;

  @media (width < 450px) {
    width: 300px;
  }

  border: 1px solid var(--gray-950);
  box-shadow: 10px 10px var(--gray-950);

  font-family: var(--font-figtree);
  font-weight: var(--weight-normal);
  color: var(--gray-950);
  font-size: 16px;

  .image_container {
    img {
      border-radius: 1rem;
      width: 100%;
    }
  }

  .tag_container {
    margin: 1rem 0;
    .tag {
      background-color: var(--yellow);
      display: inline-block;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      font-weight: var(--weight-bold);
    }
  }

  .date_container {
  }

  .content_container {
    h1 {
      font-weight: var(--weight-bold);
      font-size: 22px;
      cursor: pointer;

      &:hover {
        color: var(--yellow);
      }
    }

    p {
      color: var(--gray-500);
    }
  }

  .author_container {
    display: flex;
    align-items: center;
    gap: 1ch;

    .profile_img img {
      display: block;
      width: 30px;
      aspect-ratio: 1;
    }

    .profile_name {
      font-weight: var(--weight-bold);
    }
  }
}
